{% extends 'base.html' %}
{% load static %}

{% block title %}
    Marcela Vitor Learning Center
{% endblock %}

{% block content %}
<div class="relative min-h-screen text-white flex flex-col items-center overflow-hidden bg-cover bg-center">
    <div class="relative w-full min-h-[100vh] md:min-h-[90vh] overflow-hidden">
        <img src="{% static 'assets/home_background.png' %}"
            class="absolute top-0 left-0 w-full h-full object-cover z-0" />
        <section class="relative h-[90vh] z-20 w-full flex-grow mx-auto flex items-center justify-center">
            <div class="ml-[25vw] mb-[2rem] inset-0 flex items-center justify-center h-[90vh] w-[60vw]">
                <img src="{% static 'assets/imagem_fundo.png' %}" alt="Duas crianças sorrindo"
                    class="h-full w-auto max-w-full object-cover z-10" style="max-width: none;" />
            </div>

            <div class="absolute left-20 top-1/4 w-[30vw] text-center md:text-left flex-shrink-0 flex flex-col justify-center z-20">
                <h1 class="text-5xl space-grotesk-regular" style="letter-spacing: 0.08em;">
                    BRIGHT BEGINNINGS!
                </h1>
                <p class="text-base lg:text-lg space-grotesk-light" style="color: var(--school-text-color-light); max-width: 100%;">
                    Every great journey starts with a bright beginning. Join a place where curiosity shines and every child is celebrated.
                </p>
            </div>

            <div class="absolute right-24 bottom-20 max-w-sm text-center md:text-right flex-shrink-0 flex flex-col justify-end items-end z-20">
                <h1 class="text-5xl space-grotesk-regular mb-2" style="letter-spacing: 0.07em;">
                 JOIN US!
                </h1>
                <p class="text-base lg:text-lg space-grotesk-light mb-4" style="color: var(--school-text-color-light); max-width: 100%;">
                    Discover a bilingual world full of play,
                    learning, love, and meaningful.
                </p>
                <button class="px-6 py-2 text-white text-xl w-[80%] tracking-widest bg-[#1053f3] border-2 border-[#f5c542] rounded hover:bg-[#0e49d1] transition-colors duration-200">
                    LEARN MORE
                </button>
            </div>
        </section>
    </div>

    <div class="relative w-full flex flex-col md:flex-row items-center justify-center gap-4 md:pt-[2rem]">
        <div class="flex-shrink-0 flex justify-center md:w-1/2 items-end">
            <img src="{% static 'assets/criancas.png' %}" alt="Duas crianças se abraçando"
                class="object-cover object-center select-none"
                style="height: 600px; width: auto; margin-bottom:-80px;" />
        </div>
        <div class="max-w-xl text-center md:text-left flex flex-col justify-center items-center md:items-start w-full md:w-1/2 gap-4">
            <h2 class="text-6xl space-grotesk-regular" style="color: var(--school-heading-color-dark); letter-spacing: 0.08em;">
                OUR <b>PHILOSOPHY</b>
            </h2>
            <div class="w-full">
                <p class="text-base lg:text-lg space-grotesk-light" style="color: var(--school-text-color-dark); max-width: 100%;">
                    We value individual development, respecting each child's pace and interests.
                </p>
                <p class="text-base lg:text-lg space-grotesk-light" style="color: var(--school-text-color-dark); max-width: 100%;">
                    Our bilingual approach (Portuguese-English) follows Montessori principles, promoting learning through play, cultural awareness, and meaningful interactions.
                </p>
            </div>
            <a href="#"
                class="px-6 py-2 text-white flex items-center justify-center text-xl w-[80%] tracking-widest bg-[#1053f3] rounded-xl hover:bg-[#0e49d1] transition-colors duration-200"
                style="max-width: 320px;">
                LEARN MORE
            </a>
        </div>
    </div>

    <div class="w-full text-white py-16 px-4 md:px-10 relative z-10" style="background-color: var(--school-primary-blue);">
        <div class="max-w-7xl mx-auto flex flex-row items-center justify-center gap-12">
            <div class="flex-shrink-0 flex justify-center items-center w-full md:w-1/2 rounded-3xl" style="min-height: 400px;">
                <img src="{% static 'assets/professora.jpg' %}" alt="Marcela Vitor, Diretora"
                 class="h-[350px] w-full md:h-[450px] object-cover rounded-3xl shadow-lg border-8 border-[var(--school-program-bg-yellow)]">
            </div>
            <div class="max-w-xl text-center md:text-left flex flex-col justify-center items-center md:items-start w-full md:w-1/2 gap-4">
            <h2 class="text-6xl space-grotesk-regular" style="color: #fff; letter-spacing: 0.08em;">
                OUR <b>TEACHERS</b>
            </h2>
            <div class="w-full">
                <p class="text-base lg:text-lg space-grotesk-light" style="color: #fff; max-width: 100%;">
                Our team is made up of educators with over 5 years of experience and academic training in Massachusetts.
                </p>
                <p class="text-base lg:text-lg space-grotesk-light" style="color: #fff; max-width: 100%;">
                The director, Marcela Vitor, is a speech-language pathologist with 9 years of experience in the state education system and a strong background in both public and private schools.
                </p>
                <p class="text-base lg:text-lg space-grotesk-light" style="color: #fff; max-width: 100%;">
                Today, she leads her own center and is personally committed to children's education.
                </p>
            </div>
            </div>
        </div>
    </div>

    <section class="w-full text-gray-800 py-16 px-4 md:px-10 relative z-10" style="background-color: var(--school-program-bg-yellow);">
        <div class="max-w-7xl mx-auto text-center mb-12">
            <h2 class="text-6xl space-grotesk-regular text-[color:var(--school-text-color-dark)]">
                OUR <b>PROGRAMS</b>
            </h2>
            <p class="text-base space-grotesk-light text-[color:var(--school-text-color-dark)] mx-auto w-full max-w-xs break-words"></p>
                We cater for babies from 12 months to preschool. We<br>
                combine quality education and language development.
            </p>
        </div>

        <div class="max-w-7xl mx-auto grid grid-cols-1 md:grid-cols-3 gap-10">
            <div class="article-card bg-white shadow-md rounded-xl overflow-hidden flex flex-col h-full min-h-[520px] cursor-pointer">
                <a href="#" class="block">
                    <div class="h-72 w-full">
                        <img src="{% static 'assets/musica.jpg' %}" alt="Ícone de música" class="w-full h-full object-cover rounded-t-xl">
                    </div>
                </a>
                <div class="p-6 flex flex-col text-center flex-grow">
                    <a href="#" class="block space-y-4">
                        <h3 class="text-2xl font-normal text-gray-900">Weekly music classes</h3>
                        <p class="text-gray-600">At our daycare, tiny toes tap and little voices shine in our weekly music lessons!</p>
                    </a>
                    <div class="flex justify-center mt-auto w-full">
                        <a href="#"
                            class="px-6 py-2 text-white flex items-center justify-center text-xl w-[80%] tracking-widest bg-[#1053f3] rounded-xl hover:bg-[#0e49d1] transition-colors duration-200"
                            style="max-width: 320px;">
                            LEARN MORE
                        </a>
                    </div>
                </div>
            </div>

            <div class="article-card bg-white shadow-md rounded-xl overflow-hidden flex flex-col h-full min-h-[520px] cursor-pointer">
                <a href="#" class="block">
                    <div class="h-72 w-full">
                        <img src="{% static 'assets/futebol.jpg' %}" alt="Football icon" class="w-full h-full object-cover rounded-t-xl">
                    </div>
                </a>
                <div class="p-6 flex flex-col text-center flex-grow">
                    <a href="#" class="block space-y-4">
                        <h3 class="text-2xl font-normal text-gray-900">Seasonal Football</h3>
                        <p class="text-gray-600">A playful sport that builds teamwork and motor skills with lots of joy, movement, and healthy fun!</p>
                    </a>
                    <div class="flex justify-center mt-auto w-full">
                        <a href="#"
                            class="px-6 py-2 text-white flex items-center justify-center text-xl w-[80%] tracking-widest bg-[#1053f3] rounded-xl hover:bg-[#0e49d1] transition-colors duration-200"
                            style="max-width: 320px;">
                            LEARN MORE
                        </a>
                    </div>
                </div>
            </div>

            <div class="article-card bg-white shadow-md rounded-xl overflow-hidden flex flex-col h-full min-h-[520px] cursor-pointer">
                <a href="#" class="block">
                    <div class="h-72 w-full">
                        <img src="{% static 'assets/eventos.jpg' %}" alt="Cultural Celebrations icon" class="w-full h-full object-cover rounded-t-xl">
                    </div>
                </a>
                <div class="p-6 flex flex-col text-center flex-grow">
                    <a href="#" class="block space-y-4">
                        <h3 class="text-2xl font-normal text-gray-900">Cultural Celebrations</h3>
                        <p class="text-gray-600">Through cultural celebrations, children explore traditions, build empathy, and embrace diversity in joyful and meaningful ways.</p>
                    </a>
                    <div class="flex justify-center mt-auto w-full">
                        <a href="#"
                            class="px-6 py-2 text-white flex items-center justify-center text-xl w-[80%] tracking-widest bg-[#1053f3] rounded-xl hover:bg-[#0e49d1] transition-colors duration-200"
                            style="max-width: 320px;">
                            LEARN MORE
                        </a>
                    </div>
                </div>
            </div>
            </div>
            </div>
        </div>
    </section>

</div>
{% endblock %}